/* Custom CSS */
body {
  padding-top: 50px;
}

.game-board {
  border-radius: 2px;
}

.game-title {
  line-height: .8;
}

.game-control {
  margin-top: 20px;
  margin-bottom: 10px;
}

.game-input {
  font-size: 5em;
  height: 200px;
  text-align: center;
}

.game-info {
  padding-top: 10px;
  padding-bottom: 10px;
}


